parameters:
    paths:
        - src
    level: max
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - "#^Access to an undefined property Pest\\\\Mixins\\\\Expectation\\<string\\|null\\>\\:\\:\\$not\\.$#"

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
